html {
    font-family: "Roboto";
    min-width: 325px;
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color : #99E2D0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  body {
    margin: 0;
    color: black;
  }
  
  header {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #retour {
    position: absolute;
    left: 20px;
    top: 25px;
    color: inherit;
    font-size: 19px;
  }
  
  #logo {
    height: 30px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  #photo {
    height: 225px;
  }
  
  #menu {
    padding: 10px 10px 5% 5%;
    padding-bottom: 75px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    z-index: 1;
  }
  
  .heart {
    position: relative;
    font-size: 25px;
  }
  
  .heart:hover .far.fa-heart {
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 300ms;
    transform: scale(0);
  }
  
  .heart:hover .fa.fa-heart {
    transform: scale(1)
  }
  
  .fa-heart {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .far.fa-heart {
    position: absolute;
    left: 0;
    top: 0;
    color: inherit;
  }
  
  .fa.fa-heart {
    background: linear-gradient(to top right, var(--second-color), var(--main-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition-property: transform;
    transition-duration: 500ms;
    transform: scale(0);
  }
  
  #titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #titre > h1 {
    font-family: "Shrikhand";
    font-weight: normal;
  }
  
  #titre > i {
    font-size: 24px;
  }
  
  #listemenu > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #listemenu > div > p {
    margin: 0;
    margin-bottom: 5px;
    align-self: flex-start;
  }
  
  .souligne {
    width: 40px;
    height: 3px;
    background-color: var(--third-color);
    align-self: flex-start;
  }
  
  #listemenu > div {
    height: 350px;
    position: inherit;
    top: 0;
    overflow: hidden; 
  }
  
  .item {
    position: relative;
    width: 330px;
    height: 70px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0;
    animation-name: display-elem;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  #entrees div {
    animation-delay: 500ms;
  }
  
  #plats div {
    animation-delay: 800ms;
  }
  
  #desserts div {
    animation-delay: 1200ms;
  }
  
  @keyframes display-elem {
    from {
      opacity: 0;
      margin-top: 30px;
    }
    to {
      opacity: 1;
      margin-top: 20px;
    }
  }
  
  .item-contenu {
    width: 100%;
    padding: 8px 8px 15px 15px;
  }
  
  .item .item-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .item .item-info > div:nth-child(1) {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    transition-property: width;
    transition-duration: 500ms;
  }
  
  .item:hover .item-info > div:nth-child(1) {
    width: 220px;
  }
  
  .item-name {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .item-text {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: dimgray;
  }
  
  .item-prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
  }
  
  .item .item-anim {
    width: 65px;
    height: 100%;
    margin-right: -65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    color: white;
    font-size: 1.2em;
    transition-property: margin;
    transition-duration: 500ms;
    float: right;
  }
  
  .item:hover .item-anim {
    margin-right: 0px;
  }
  
  .item:hover .item-anim i {
    animation: rotate-check 500ms forwards;
  }
  
  @keyframes rotate-check {
    from {
      transform: rotateZ(0deg)
    }
    to {
      transform: rotateZ(360deg)
    }
  }
  
  #command-btn {
    height: 50px;
    width: 225px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 5px grey;
    background: linear-gradient(to bottom right, var(--second-color), var(--main-color));
    color: white;
    font-size: 15px;
    align-self: center;
  }
  
  #command-btn:hover {
    cursor: pointer;
    filter: brightness(110%);
    box-shadow: 3px 3px 5px grey;
  }
  
  footer {
    height: 200px;
    position: relative;
    bottom: 0;
    background-color: #353535;
    color: white;
    display: flex;
    align-items: center;
  }
  
  footer > div {
    height: 180px;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  footer h3 {
    margin: 0;
    font-family: "Shrikhand";
    font-weight: normal;
  }
  
  footer a {
    text-decoration: none;
    color: inherit;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    line-height: 2;
  }
  
  li i {
    width: 30px;
  }
  
  /* Tablette */
  @media screen and (min-width: 426px) {

    #titre {
      justify-content: center;
    }
  
    #titre > h1 {
      margin-right: 100px;
    }
  
    #listemenu > div > p, .souligne {
      align-self: center;
    }

    #listemenu > div{
        align-items: center;
    }
  }